.header{
    height: 56px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222,222,222);
    align-items: center;
    z-index: 100;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.1);
}

.header-left {
    display: flex;
}

.facebook-icon {
    height: 40px;
    width: 40px;
    margin: 0px 15px 0px 15px;
}

.search-bar {
    border: none;
    background-color: rgb(236, 236, 236);
    border-radius: 25px;
}

.header-left input {
    padding: 12px;
}

.header-middle {
    display: flex;
}

.header-middle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 111.5px;
    border: none;
    background-color: white;
    padding: 0;
    height: 45px;
    transition: background-color 0.2s, border-radius 0.2s;
}

.header-middle-button:hover {
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
}

.header-middle-button img {
    height: 28px;
    width: 28px;
}

.header-right {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header-right-button {
    margin: 0px 10px 0px 10px;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right-button img {
    width: 20px;
    height: 20px;
}

.profile-pic-top {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    margin: 0px 20px 0px 10px;
}